@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@400;500&display=swap");

body {
  font: 16px/1.4 "Roboto", sans-serif;

  //   background: #2bc0e4; /* fallback for old browsers */
  //   background: -webkit-linear-gradient(
  //     to right,
  //     #eaecc6,
  //     #2bc0e4
  //   ); /* Chrome 10-25, Safari 5.1-6 */
  //   background: linear-gradient(
  //     to right,
  //     #eaecc6,
  //     #2bc0e4
  //   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //   background: #16a085; /* fallback for old browsers */
  //   background: -webkit-linear-gradient(
  //     to right,
  //     #f4d03f,
  //     #16a085
  //   ); /* Chrome 10-25, Safari 5.1-6 */
  //   background: linear-gradient(
  //     to right,
  //     #f4d03f,
  //     #16a085
  //   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //   background: #feac5e; /* fallback for old browsers */
  //   background: -webkit-linear-gradient(
  //     to right,
  //     #4bc0c8,
  //     #c779d0,
  //     #feac5e
  //   ); /* Chrome 10-25, Safari 5.1-6 */
  //   background: linear-gradient(
  //     to right,
  //     #4bc0c8,
  //     #c779d0,
  //     #feac5e
  //   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #83a4d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b6fbff,
    #83a4d4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b6fbff,
    #83a4d4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
